/* ----- Base ----- */
body {
    font-family: sans-serif;
    font-size: 15px;
}

h1 {
    text-align: center;
}

.container {
    margin: auto;
    max-width: 960px;
}

/* ----- Tree ----- */
.tree {
    border: 2px dashed #ccc;
    height: 75vh;
    min-height: 400px;
    overflow-x: auto;
    padding: 1rem;
}

.tree ul {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1em 0;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.tree ul::after {
    clear: both;
    content: '';
    display: table;
}

.tree li {
    display: inline-block;
    list-style-type: none;
    padding: 1em .5em 0 .5em;
    position: relative;
    text-align: center;
    vertical-align: top;
}

.tree li::before,
.tree li::after {
    border-top: 1px solid #ccc;
    content: '';
    height: 1em;
    position: absolute;
    right: 50%;
    top: 0;
    width: 50%;
}

.tree li::after {
    border-left: 1px solid #ccc;
    left: 50%;
    right: auto;
}
.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}
.tree li:only-child {
    padding-top: 0;
}
.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}
.tree li:last-child::before{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #ccc;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
}

.tree ul ul::before{
    border-left: 1px solid #ccc;
    content: '';
    height: 1em;
    left: 50%;
    position: absolute;
    top: 0;
    width: 0;
}

.tree li a {
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #333;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding: .5em .75em;
    position: relative;
    text-decoration: none;
    top: 1px;
    transition: 0.2s ease;
    user-select: none;
    width: 45px;
}

.tree li a.active {
    background-color: lightblue;
    color: darkblue;
}

.tree li a:not(.js-add-category):hover,
.tree li a:hover+ul li a:not(.js-add-category) {
    background: #bd2130;
    border: 1px solid #bd2130;
    color: #fff;
}

.tree li a.js-add-category {
    border-style: dashed;
    color: #007bff;
    font-size: 24px;
    padding: 0.1em .45em;
}

.tree li a.js-add-category:hover {
    background-color: #bbb;
    color: #fff;
}
